version: '3'
services:
  collector:
    build: .
    environment:
      - WIO_ACCESS_TOKEN=f6149b5bf8c97461ee2adf0731caf995
      - WIO_SERVER_URL=https://us.wio.seeed.io/v1/node
      - MS_BETWEEN_COLLECT=10000
      - INFLUX=influx
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "5"
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SERVER_ROOT_URL=http://mon.piikl.com
    volumes:
      - /home/data/grafana:/var/lib/grafana
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "5"
  influx:
    image: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=sensors
      - INFLUXDB_HTTP_AUTH_ENABLED=true
      - INFLUXDB_ADMIN_USER=sensors
      - INFLUXDB_ADMIN_PASSWORD=sensors
    volumes:
      - /home/data/influx:/var/lib/influxdb
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "5"